/* Raw colors */

$blue-dark: #62c9dd;
$blue-light: #011e9e;
$dark-grey: #303030;
$grey: #eaeaea;
$red: #dc3545;

/* Reference colors */

$font-color: $dark-grey;
$navbar-color: $blue-light;
$secondary-color: $blue-dark;
